{% extends 'layout/default.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% block blog_content %}{% endblock %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">News feed</div>
                <div class="panel-body">
                    <a href="/blog/feed.xml">RSS 2.0</a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Archive</div>
                <div class="panel-body">
                    <ul class="archive">
                        {% for archive in archives %}
                            <li><a href="{{ archive.url }}" data-posts="{{ archive.posts | length }}">{{ archive.year }}</a></li>
                        {% endfor %}
                    <ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Tags</div>
                <div class="panel-body">
                    <ul class="archive">
                        {% for tag in tags %}
                            <li><a href="{{ tag.url }}" data-posts="{{ tag.posts | length }}">{{ tag.label }}</a></li>
                        {% endfor %}
                    <ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}