{% extends 'layout/blog.twig' %}

{% block title %}{{ post.title }} - Blog{% endblock %}
{% block blog_content %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="page-header" itemprop="name headline">{{ post.title }}</h1>

        <section class="content" itemprop="articleBody">
            {{ post.content | raw }}
        </section>

        <footer>
            {% include "layout/partial/tags.twig" with {tags: post.tags} %}
            <p>Published on <time datetime="{{ post.date | date(constant('DateTime::W3C')) }}" itemprop="datePublished">{{ post.date | localizeddate('full', 'none', 'en-US') }}</time></p>
        </footer>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_config = function () {
                this.page.url = '{{ post.url | serverurl | escape('js') }}';
                this.page.identifier = '{{ post.id | escape('js') }}';
                this.page.title = '{{ post.title | escape('js') }}';
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//dasprids.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </article>
{% endblock %}
